extends ../../../layout/form
include ../../../mixins/button-save

block variables
    - var id = 'banner-message'

block icon
    include ../../../icons/blockquote

block title
    | Banner message

block form
    div.position-relative
        textarea.w-100.input-text#banner-message-input(placeholder='Banner message', name='banner-message')
        +button-save(id)
