extends ../../../layout/form
include ../../../mixins/button-done

block variables
    - var id = 'channel'

block icon
    include ../../../icons/channel

block title
    | Channel

block form
    div.position-relative
        input.w-100.input-text#channel(placeholder='Channel', name='channel')
        +button-done