div.mb-3
    include ../../../icons/globe
    label(for="client-wificountry-input")
        | Client Wifi Country Code

div.form-accordion-content.hidden.mb-4.ms-15-icon.me-5
    div.position-relative
        input.mb-2.w-100.input-text#client-wificountry-input(placeholder='Client Wifi Country Code', name='client-wificountry')
