extends ../../../layout/form
include ../../../mixins/button-save

block variables
    - var id = 'client-wifipassword'

block icon
    include ../../../icons/key

block title
    | Wifi Password

block form
    div.position-relative
        input.mb-2.w-100.input-text#client-wifipassword-input(placeholder='Wifi Password', name='client-wifipassword')
        +button-save(id)
