div.mb-3
    include ../../../icons/key
    label(for="client-wifipassword-input")
        | Wifi Password

div.form-accordion-content.hidden.mb-4.ms-15-icon.me-5
    div.position-relative
        input.mb-2.w-100.input-text#client-wifipassword-input(placeholder='Wifi Password', name='client-wifipassword')
