extends ../../../layout/form-multiple

block variables
    - var id = 'client_wifi'

block items
    include ./client_ssid
    include ./client_wifipassword
    include ./client_wificountry
    include ./client_wifirestart
