extends ../../../layout/form
include ../../../mixins/button-done

block variables
    - var id = 'hostname'

block icon
    include ../../../icons/edit

block title
    | Hostname

block form
    div.position-relative
        input.w-100.input-text#hostname-input(placeholder='Hostname', name='hostname')
        +button-done
