extends ../../../layout/form
include ../../../mixins/switch

block variables
    - var id = 'lcd_pages_battery'

block icon
    include ../../../icons/screens

block title
    | Show LCD Battery Page

block form
    div.position-relative
        +switch('lcd_pages_battery', 'Show LCD Battery Page')
