extends ../../../layout/form
include ../../../mixins/button-save

block variables
    - var id = 'g_device'

block icon
    include ../../../icons/wifi

block title
    | Serial Device

block form
    div.position-relative
        input.w-100.input-text#g_device-input(placeholder='Serial Device', name='g_device')
        +button-save(id)
