extends ../../../layout/form
include ../../../mixins/button-save

block variables
    - var id = 'g_device'

block icon
    include ../../../icons/usb

block title
    | OTG Driver

block form
    div.position-relative
        input.w-100.input-text#g_device-input(placeholder='Set OTG Driver', name='g_device')
        +button-save(id)
