extends ../../../layout/form
include ../../../mixins/switch

block variables
    - var id = 'enable_mass_storage'

block icon
    include ../../../icons/storage

block title
    | Mass Store

block form
    div.position-relative
        +switch('enable_mass_storage', 'Enable Mass Store')
