extends ../../../layout/form
include ../../../mixins/button-save-download

block variables
    - var id = 'course-download'

block icon
    include ../../../icons/download

block title
    | Load Course From URL

block form
    div.position-relative
        input.w-100.input-text#course-download-input(placeholder='Load Moodle Content From URL', name='course-download')
        +button-save-download(id)
