extends ../../../layout/form
include ../../../mixins/button-save
include ../../../mixins/button-remove-file

block variables
    - var id = 'moodle_courses_functions'

block icon
    include ../../../icons/presentation

block title
    | Update a Course

block form
    div.position-relative
        select.input-text.lms-course-selector(name="moodle_courses" id="moodle_courses_functions-input")
            option(value="") --- Choose Course
        div.d-none#moodle_course-update-form
            input.w-100.input-text#moodle_update_course_name-input(placeholder='Course Name', name='moodle_course_name')
            input.w-100.input-text#moodle_update_course_short_name-input(placeholder='Course Short Name', name='moodle_course_short_name')
            textarea.w-100.input-text#moodle_update_course_summary-input(placeholder='Course Summary', name='moodle_course_summary')
            input#moodle_update_course_id-input(type='hidden')
            +button-save(id)
            +button-remove-file('moodle_course_remove')
