extends ../../../layout/form
include ../../../mixins/button-save

block variables
    - var id = 'moodle_users_add'

block icon
    include ../../../icons/admin

block title
    | Add A Moodle User

block form
    div.position-relative
        input.w-100.input-text#moodle_username-input(placeholder='Username', name='moodle_username')
        input.w-100.input-text#moodle_password-input(placeholder='Password', name='moodle_password')
        input.w-100.input-text#moodle_firstname-input(placeholder='First Name', name='moodle_firstname')
        input.w-100.input-text#moodle_lastname-input(placeholder='Last Name', name='moodle_lastname')
        input.w-100.input-text#moodle_email-input(placeholder='Email (optional / required for teachers)', name='moodle_email')
        +button-save(id)
