div.mb-3
    include ../../../icons/usb
    label(for="courseusb-input")
        | Load Moodle Course(s) From USB Flash

    .float-end
        button.bg-transparent.border-0.text-primary.p-0(id=courseusb-button)
            include  ../../../icons/play
