extends ../../../layout/form
include ../../../mixins/button-save
include ../../../mixins/button-account-remove

block variables
    - var id = 'moodle_users_update'

block icon
    include ../../../icons/admin

block title
    | Moodle Update User

block form
    div.position-relative
        select.input-text(name="moodle_users" id="moodle_users-input")
            option(value="") --- Choose User To Update
        div.d-none#moodle_users-update-form
            input.w-100.hiden.input-text#moodle_update_username-input(placeholder='Username', name='moodle_username')
            input.w-100.hiden.input-text#moodle_update_password-input(placeholder='Password', name='moodle_password')
            input.w-100.hiden.input-text#moodle_update_firstname-input(placeholder='First Name', name='moodle_firstname')
            input.w-100.hiden.input-text#moodle_update_lastname-input(placeholder='Last Name', name='moodle_lastname')
            input.w-100.hiden.input-text#moodle_update_email-input(placeholder='Email (optional / required for teachers)', name='moodle_email')
            input#moodle_update_user_id-input(type='hidden')
            +button-save(id)
            +button-account-remove('moodle_users_account_remove')
