extends ../../../layout/form
include ../../../mixins/button-save-download

block variables
    - var id = 'courseusb'

block icon
    include ../../../icons/usb

block title
    | Load Course(s) From USB (/USB/courses)

block form
    div.position-relative
        select.input-text(name="coursesusb" id="courseusb-input")
            option(value="") --- Choose Course
        +button-save-download(id)
