extends ../../../layout/form
include ../../../mixins/button-add-to-class
include ../../../mixins/button-remove-from-class

block variables
    - var id = 'moodle_courses_users_add'
    - var remove_id = 'moodle_courses_users_remove'

block icon
    include ../../../icons/admin

block title
    | Moodle Course Users

block form
    div.position-relative
        select.input-text.mb-1(name="moodle_courses" id="moodle_courses-input")
            option(value="") --- Choose Course
        select.input-text.mb-2(name="moodle_enrollees" id="moodle_enrollees-input")
            option(value="") --- Choose a User
        div.border-top.pt-1
            p.fst-italic Current Members
            ul.mt-2(id="course-users-list")
        +button-add-to-class(id)
        +button-remove-from-class(remove_id)
