extends ../../../layout/form
include ../../../mixins/switch

block variables
    - var id = 'otg'

block icon
    include ../../../icons/usb

block title
    | Use On The Go Link To Mobile Phone

block form
    div.position-relative
        select.input-text(name="otg_enable" id="otg_enable")
            option(value="") --- Please Select
            option(value="both") All USB Cable Types (Default)
            option(value="1") Use On The Go Cables Only
            option(value="0") Disable On The Go
        +button-save(id)
