block variables
    - var id = 'openwellusb'

block icon
    include ../../../icons/usb

block title
    | Load OpenWell Content From USB Flash

block form
    .float-end
        button.bg-transparent.border-0.text-primary.p-0(id=`${id}-button`)
            include  ../../../icons/play
