extends ../../../layout/form
include ../../../mixins/switch

block variables
    - var id = 'disable_chat'

block icon
    include ../../../icons/settings

block title
    | Disable Chat

block form
    div.position-relative
        +switch('disable_chat', 'Disable Chat')
