div.mb-3
    include ../../../icons/usb
    label(for="openwellusb-input")
        | Load OpenWell Content From USB Flash

    .float-end
        button.bg-transparent.border-0.text-primary.p-0(id="openwellusb-button")
            include  ../../../icons/play
