extends ../../../layout/form
include ../../../mixins/button-save-download

block variables
    - var id = 'subscribe'

block icon
    include ../../../icons/download

block title
    | Subscribe to TheWell Content Package

block form
    div.position-relative
        select.input-text(name="subscribe" id="subscribe-input")
            option(value="") --- Choose Package
        +button-save-download(id)
