div.mb-3
    include ../../../icons/download
    label(for="openwellrefresh-input")
        | Download Missing Content For TheWell

    .float-end
        button.bg-transparent.border-0.text-primary.p-0(id="openwellrefresh-button")
            include  ../../../icons/play
