extends ../../../layout/form
include ../../../mixins/button-done

block variables
    - var id = 'password'

block icon
    include ../../../icons/key

block title
    | Password

block form
    input.mb-2.w-100.input-text#password-input(placeholder='Password', name='password')
    div.position-relative
        input.w-100.input-text#passwordConfirm-input(placeholder='Password Confirm', name='passwordConfirm')
        +button-done(id)
