extends ../../../layout/form
include ../../../mixins/switch

block variables
    - var id = 'lcd_pages_main'
    - var id = 'lcd_pages_info'
    - var id = 'lcd_pages_battery'
    - var id = 'lcd_pages_multi_bat'
    - var id = 'lcd_pages_memory'
    - var id = 'lcd_pages_stats'
    - var id = 'lcd_pages_admin'

block icon
    include ../../../icons/screens

block title
    | Screen Enable

block form
    div.position-relative
        +switch('lcd_pages_main', 'Show LCD Main Page')
    div.position-relative
        +switch('lcd_pages_info', 'Show LCD Info Page')
    div.position-relative
        +switch('lcd_pages_battery', 'Show LCD Battery Page')
    div.position-relative
        +switch('lcd_pages_multi_bat', 'Show LCD Battery Details Page')
    div.position-relative
        +switch('lcd_pages_memory', 'Show LCD Memory Page')
    div.position-relative
        +switch('lcd_pages_stats', 'Show LCD Stats Pages')
    div.position-relative
        +switch('lcd_pages_admin', 'Show LCD Admin Pages')
 