extends ../../../layout/form
include ../../../mixins/button-save

block variables
    - var id = 'server_sitename'

block icon
    include ../../../icons/blockquote

block title
    | Site Name

block form
    div.position-relative
        input.w-100.input-text#server_sitename-input(placeholder='Site Name', name='server_sitename')
        +button-save(id)
