div.mb-3
    include ../../../icons/download
    label(for="sync-input")
        | Sync To Cloud Server

    .float-end
        button.bg-transparent.border-0.text-primary.p-0(id="sync-button")
            include  ../../../icons/play
