div.form-accordion-content.hidden.mb-4.ms-15-icon.me-5
    div.position-relative
        input.mb-2.w-100.hidden.input-text#wap-wifi-restart-input(placeholder='Wifi Restart Hidden Field', name='wap-wifi-restart', value='accesspoint')
