extends ../../../layout/form-multiple
include ../../../mixins/button-save

block variables
    - var id = 'wap'

block items
    #wapssidregion.allUsers
        include ./ssid
    #wapchannelregion.allUsers
        include ./channel
    #wappassphraseregion.allUsers
        include ./wpa-passphrase
    #waprestartregion.allUsers
        include ./wap-wifirestart
