extends ../../../layout/form-multiple
include ../../../mixins/button-save

block variables
    - var id = 'wap'

block items
    #hostnameregion.allUsers
        include ./wap_status
    #wapssidregion.allUsers.hidden.isAdvanced
        include ./ssid
    #wapchannelregion.allUsers.hidden.isAdvanced
        include ./channel
    #wappassphraseregion.allUsers.hidden.isAdvanced
        include ./wpa-passphrase
    #waprestartregion.allUsers.hidden.isAdvanced
        include ./wap-wifirestart
