extends ../../../layout/form-multiple
include ../../../mixins/button-save

block variables
    - var id = 'wap'

block items
    include ./wap_status
    include ./ssid
    include ./channel
    include ./wpa-passphrase
    include ./wap-wifirestart
