.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
  .popup{
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 400px;
    max-width: 70vw;
    background-color: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    .popup-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 8px 20px;
    }
  }
}