.snackbar{
  position: fixed;
  width: 100%;
  transition: all 0.5s ease-in-out;

  .snackbar-inner{
    max-width: 600px;
    margin: auto;
    width: 90%;
    padding: 1rem;
    border-radius: 5px;
    color: #f6f6f6;
    background-color: #e56d78;
    border: solid 1px $danger;
  }
}

.snackbar--success .snackbar-inner {
  background-color: #3fa475;
  border: solid 1px $success;
}

.snackbar--hidden{
  bottom: -1000px;
}
.snackbar--shown{
  bottom: 20px;
}
