.hidden{
  display: none;
}
.ms-15-icon{
  margin-left: 36px !important;
}
.end--5{
  right: -3rem;
}
.second-button {
    right: -2.2rem;
    top: 15%;
    width: 24px;

    &.button-class-remove {
        top: 40%;
    }
}
#moodle_course-update-form .second-button {
    top: 20%;
}
