extends ../layout.pug

block content
    .jump
    .appBar.elevation-2
        h1.mx-2.mx-md-5#title
        .top-left-action#logout
            include ../icons/logout

    .snackbar.snackbar--hidden#message-error
        .snackbar-inner
            | Hello

    include ../layout/popup

    .my-5.mx-2.mx-md-5
        .container-fluid.p-0.m-0
            .row.row-cols-1.row-cols-xl-3
                .col
                    #password
                        include  ../parts/admin/sections/password
                    #wap.hidden.isAdvanced
                        include ../parts/admin/sections/wireless_access_point
                    #wifi
                        include ../parts/admin/sections/client_wi_fi
                    #web
                        include ../parts/admin/sections/web_server
                .col
                    #server
                        include ../parts/admin/sections/server_connection
                    #otg
                        include ../parts/admin/sections/on_the_go
                    #lcd.hidden.isAdvanced
                        include ../parts/admin/sections/lcd_configuration
                    #system
                        include  ../parts/admin/sections/system
                .col
                    #logs
                        include  ../parts/admin/sections/logs
                    #reports
                        include  ../parts/admin/sections/reports
                    #about
                        include  ../parts/admin/sections/about
                    #wipe.hidden.isAdvanced
                        include  ../parts/admin/sections/wipe

block scripts
    script(src='./admin.bundle.js')