extends ../../../layout/section

block title
    include ../../../icons/info
    | About

block content
    p
        b ConnectBox
    p
        | A media content distribution device
    p
        small An Open Source/Open Hardware Wifi Project
    p
        | ConnectBox Product Information:
        |
        a(href="https://www.connectbox.technology") https://www.connectbox.technology
    p
        | ConnectBox Development Information:
        |
        a(href="https://github.com/ConnectBox/connectbox-pi") https://github.com/ConnectBox/connectbox-pi
    p
        | TheWell, Moodle Adaptation & Media Interface developed by Relay Trust:
        |
        a(href="https://relaytrust.org/the-well/") https://relaytrust.org/the-well/