extends ../../../layout/section

block title
    include ../../../icons/info
    | About

block content
    p
        | TheWell is a media distribution and offline training project of
        |
        a(href="https://relaytrust.org/the-well/") The Relay Trust.
