extends ../../../layout/section

block title
    include ../../../icons/layout
    | User Interface

block content
    include ../forms/screen_enable
    include ../forms/mass_storage
    include ../forms/usb_no_mount
    include ../forms/lcd_g_device