extends ../../../layout/section

block title
    include ../../../icons/server
    | TheWell Training

block content

    include ../forms/moodle_users_add
    include ../forms/moodle_users_update
    include ../forms/moodle_classes_add
    include ../forms/moodle_classes_update
    include ../forms/moodle_classes_enroll
    include ../forms/moodle_courses_users
    div#lmsUpdateCourse.hidden.isAdvanced
        include ../forms/moodle_courses_functions
    include ../forms/moodle_download
    include ../forms/moodle_usb
