extends ../../../layout/section

block title
    include ../../../icons/usb
    | Uplink Via Mobile Phone

block content
    include ../forms/on_the_go.pug
    include ../forms/lcd_g_device
    include ../forms/lcd_enable_mass_storage