extends ../../../layout/section

block title
    include ../../../icons/server
    | Server Connection

block content
    include ../forms/server_url
    include ../forms/server_authorization
    include ../forms/server_sitename
    include ../forms/server_siteadmin_name
    include ../forms/server_siteadmin_email
    include ../forms/server_siteadmin_phone