extends ../../../layout/section

block title
    include ../../../icons/server
    | Cloud Server Connection

block content
    .regular
        include ../forms/server_url
    #serverauthregion.hidden.isAdvanced
        include ../forms/server_authorization
    .regular
        include ../forms/server_sitename
    .regular
        include ../forms/server_siteadmin_country
    .regular
        include ../forms/server_siteadmin_name
    .regular
        include ../forms/server_siteadmin_email
    .regular
        include ../forms/server_siteadmin_phone