extends ../../../layout/section

mixin script(name, id)
    div.mt-3
        include  ../../../icons/settings
        = name
        .float-end
            button.bg-transparent.border-0.text-primary.p-0(id=`${id}-button`)
                include  ../../../icons/play

block title
    include ../../../icons/settings
    | System

block content
    +script('Unmount USB', 'unmountusb')
    +script('Shutdown', 'shutdown')
    +script('Reboot', 'reboot')
    +script('Reset', 'reset')
