extends ../../../layout/section

block title
    include ../../../icons/server
    | Web Server

block content
    include ../forms/enhanced_interface
    include ../forms/hostname
    include ../forms/openwell_download
    include ../forms/moodle_download