extends ../../../layout/section

block title
    include ../../../icons/server
    | Web Server

block content

    .allUsers
        include ../forms/hostname
    .allUsers
        include ../forms/usb_no_mount
    .allUsers
        include ../forms/openwell_download
    .allUsers
        include ../forms/openwell_usb
    .noMoodle
        include ../forms/moodle_download
    .noMoodle
        include ../forms/moodle_usb
