extends ../../../layout/section

block title
    include ../../../icons/server
    | Web Server

block content

    .allUsers
        include ../forms/hostname
    .allUsers
        include ../forms/usb_no_mount
    .allUsers
        include ../forms/openwell_download
    .allUsers
        include ../forms/openwell_refresh
    .allUsers
        include ../forms/openwell_usb
    .withMoodle.hidden#moodle_download
        include ../forms/moodle_download
    .withMoodle.hidden#moodle_usb
        include ../forms/moodle_usb
