extends ../../../layout/section

block title
    include ../../../icons/wifi
    | Wireless Access Point

block content
    include ../forms/ssid
    include ../forms/channel
    include ../forms/wpa-passphrase




