mixin button-add-to-class(id)
    .button-save.position-absolute.end--5.top-0
        button.bg-transparent.border-0.p-0.text-primary(id=id+'-btn', type="button")
            include ../icons/add-to-class
        .loader(id=id+'-loader')
