mixin button-class-remove(id)
    .button-class-remove.position-absolute.second-button
        button.bg-transparent.border-0.p-0.text-primary(id=id+'-btn', type="button" title="Delete Class")
            include ../icons/account-multiple-minus
        .loader(id=id+'-loader')
