mixin switch(id, title)
    div
        = title
        div.ms-5.form-checkbox-div.position-absolute.end--5.top-0.form-checkbox-div--unchecked(data-input-name=id, id=id+'-switch')
            div
        input.d-none(type="checkbox",id=id + '-input',name=id,autocomplete='off')